name: CSV Linter and Trailing Whitespaces

on:
  push:
  pull_request:

jobs:
  lint_and_check_trailing_whitespaces:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install csvkit

    - name: Run csvclean on prompts.csv
      run: |
        csvclean --length-mismatch --empty-columns -u 2 prompts.csv > /tmp/prompts_clean.csv 2> csvclean_errors.log
        if [ -s csvclean_errors.log ]; then
          cat csvclean_errors.log
          exit 1
        fi
    - name: Check newline at EOF
      run: |
        last_byte=$(tail -c1 prompts.csv | od -An -t x1)
        if [ "$last_byte" != " 0a" ]; then
          echo "prompts.csv does not end with newline"
        else
          echo "prompts.csv ends with newline"
        fi
    - name: Check Trailing Whitespaces
      run: |
        # Check if the special file contains any trailing whitespaces
        if grep -q "[[:space:]]$" ./prompts.csv; then
          echo "ERROR: Found trailing whitespaces in prompts.csv"
          exit 1
        else
          echo "No trailing whitespaces found in prompts.csv"
        fi